:root {
  color-scheme: dark;
  --bg: #0f172a;
  --text: #e2e8f0;
  --panel: #191a1d;
  --border: #334155;
  --button-bg: #4c82f5;
  --button-text: #ffffff;
  --hover-panel: #212529;
}

:root[data-theme='light'] {
  color-scheme: light;
  --bg: #f8fafc;
  --text: #080808;
  --panel: #f0efef;
  --border: #cbd5e1;
  --button-bg: #4c82f5;
  --button-text: #ffffff;
  --hover-panel: #dfdbdb;
}

* {
  box-sizing: border-box;
}